h1{
  text-align: center
}
html{
  border: 10px solid white;
}

body {
  font-family: sans-serif;
  text-align: center;
  background: black;
  color: rgb(185, 13, 13);
  padding-bottom: 100% ;
}
a {
  color: white;
}
a:link { text-decoration: none; color: white; }
a:hover { color: rgb(185, 13, 13);; }
a:visited { color: grey; }
a:active { color: rgb(99, 2, 2); }


nav{
  color: white;
  padding: 10px;
}

undl{
  text-decoration: underline;
}
