html{
  border: solid #ffffff 10px
}

h1{
  text-align: center
}


body {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: rgb(185, 13, 13);
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  min-width: 256;
  padding-top: 8px;
  padding-bottom: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
a {
  color: white;
}
a:link { text-decoration: none; color: white; }
a:hover { color: rgb(185, 13, 13);; }
a:visited { color: grey; }
a:active { color: rgb(99, 2, 2); }


nav{
  color: white;
  padding: 10px;
}

undl{
  text-decoration: underline;
}